<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Advent+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="filter-container" class="container">
            <h1>Team Filter</h1>
            <ul class="category-filter inline">
                <li v-on:click="filterTeam"><a href="#" class="viewAll">View All</a></li>                                    
                <li v-for="item in uniqueItemsList" :data-type-office="item" v-on:click="filterTeam">{{ item }}</li>                                    
            </ul>

            <div class="row">
                <div v-show="type === '' || type == team.officeArea || type == 'View All'" v-for="team in teamList" class="team-member" v-bind:style="{backgroundImage: 'url(' + team.cardImg + ')'}" :data-teamcategory="team.officeArea">
                    <a v-bind:href="team.teamPageLink">
                        <div class="team-info">
                            <p class="name">{{ team.name }}</p>
                            <p>Read More</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
       
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js" async defer></script>
    </body>
</html>